<p-panel header="Pipes no tan comunes" class="p-2">
    <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid w-full grid-cols-1 gap-4 mt-3 md:grid-cols-2 lg:grid-cols-3">
    <div class="w-full">
        <p-fieldset legend="i18Select Pipe" [toggleable]="true">

        </p-fieldset>
    </div>

    <div class="w-full">
        <p-fieldset legend="i18Plural Pipe" [toggleable]="true">

        </p-fieldset>
    </div>

    <div class="w-full">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">

        </p-fieldset>
    </div>

    <div class="w-full">
        <p-fieldset legend="JSON Pipe" [toggleable]="true">

        </p-fieldset>
    </div>

    <div class="w-full">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">

        </p-fieldset>
    </div>

    <div class="w-full">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
    
        </p-fieldset>
    </div>
</div>

